<div class="container-fluid footer">
  <div class="row">
    <!-- name -->
    <div class="col-lg-6">
      <h1>BookPage</h1>
      <p>Happy Reading!</p>
    </div>
    <!-- nav -->
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="books">Books</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- socialmedia -->
    <div class="col-lg-2">
      <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</div>
