.header h1
{
  text-align: center;
}

.content
{
  padding-top: 30px;
}

.content p {
  overflow: auto;
}

.content a
{
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 5px;
}

.content a:hover
{

  color: var(--primary-color);
  background-color: white;
  bottom: 20%;
}
