.banner
{
  background-image: url("../../../assets/img/banner.jpg");
  height: 600px;
  background-position: center;
  background-size: cover;
}
.content
{
  top: 10%;
  left: 5%;
  padding: 15px 20px;
}
.content h1
{
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.content a
{
  text-decoration: none;
  background-color: white;
  color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 5px;
}

.content a:hover
{
  background-color: var(--primary-color);
  color: white;
}

.stepBox
{
  background-color: black;
  padding: 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.stepBox h1
{
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-color);
}

.stepBox p{
  font-size: 20px;
  color: white;
}
