<div class="header">
  <h1 class="mb-5">AVA MORGAN</h1>
  <h2 class="mb-5">Feministische Literatur mit Aufschrei</h2>
</div>

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <img class="img-fluid" src="../../../assets/img/author.jpg"/>
        </div>
        <div class="col-lg-8">
          <h1>Wer ist Ava Morgan und worüber schreibt sie?</h1>
          <p>
            Ich habe schon immer geschrieben. Kurze Geschichten als Kind, dann fast zehn Jahre über Musik als Redakteurin, bevor ich mich wieder dem Schreiben von Büchern gewidmet habe. Ich schreibe über Themen, die mich beschäftigen, wütend machen und über die Missstände, die ich in literarischer Form aufzeigen will. Meine Bücher sind gesellschaftskritisch, rütteln wach und laden zum Weiterdenken ein.
          </p>
          <p>
            Mein erstes Buch "Fährnis der Frau" erschien 2023, entstand aber nicht aus purer Liebe zum Schreiben. Es entstand aus einer Notwendigkeit heraus. Ich habe es satt, wie viel Unglauben Betroffenen nach wie vor zuteil wird, wenn sie sich jemandem anvertrauen. Selbst, wenn es der Person ganz offensichtlich schwer fiel, den Vorfall zu schildern. <br>
            "Das kann doch nicht sein."<br>
            "Hast du das vielleicht falsch verstanden?"<br>
            "Das hat sie sich bestimmt nur eingebildet."<br>
            "Okay, aber was hattest du an?"<br>
            Um nur ein paar Beispiele zu nennen. All diese Aussagen, oft automatische, impulsive erste Reaktionen, sagen nur eines aus: Ich glaube dir nicht.  Oder: Du hast bestimmt (zum Teil) auch schuld daran.
          </p>
          <p>
            Ich begann, Geschichten zusammen zu tragen und aufzuschreiben, machte mir schriftlich über andere ungerechte, wütend und betroffen machende Geschichten Luft.
          </p>
          <p>
            Lies <a class="text" routerLink="about">hier</a> weiter, um mehr über mich und meinen Antrieb als Schriftstellerin zu erfahren.
            "Fährnis der Frau" - Wenn der Alltag zur Gefahr wird
          </p>
          <hr width="100%" size="3">
          <img class="img-fluid" src="../../../assets/img/book_fdf.jpg" width="100%"/>
          <p></p>
          <p>
            Jede Geschichte ein Aufschrei: Mein Buch "Fährnis der Frau" ist seit September 2023 im Wreaders Verlag erhältlich und enthält zwölf feministische Kurzgeschichten über die Gefahren, die weiblich gelesenen Personen selbst in banalsten Alltagsszenarien widerfahren können. So realitätsnah und erschreckend, dass du dich beim Lesen einschließen willst - true story.
          </p>
          <p>
            Hier bestellen: Thalia | Amazon | Hugendubel | Osiander | Morawa | Books on Demand
          </p>
          <p>
            Übrigens kannst du mein Buch auch über das Programm der Autorenwelt bestellen. Damit unterstützt du mich doppelt, ohne Aufpreis!
            Der letzte Aufschrei
          </p>
          <hr width="100%" size="3">
          <img class="img-fluid" src="../../../assets/img/newsletter.png" width="100%"/>
          <p></p>
          <p>
            In meiner (garantiert spam freien) Post an dich, bekommst du exklusive Einblicke in meine aktuellen Buchprojekte. Melde dich an, um die <b>  unveröffentlichte 13. Geschichte aus "Fährnis der Frau" </b>zu erhalten!
          </p>
          <p><b>Bald im Newsletter:</b> Die Leseprobe zu meiner dystopsichen Novelle!</p>
          <label for="fname">Name:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">E-Mail:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <input type="submit" value="Ich will Post">
        </div>
      </div>
  </div>
</div>

