.banner
{
/*  background-image: url("../../../assets/img/banner.jpg");*/
  height: 600px;
  background-position: center;
  background-size: cover;
}

.header
{
  text-align: center;
}


.header h1
{
  color: white;
  font-size: 50px;
  font-weight: bold;

}

.header h2
{
  color: white;
 /* font-size: 50px;*/
  font-weight: normal;

}

.content {
  top: 10%;
  left: 5%;
  padding: 15px 20px;
}

.content h1
{
  color: white;
  font-size: 24px;
  font-weight: normal;

}

.content a
{
  color: #bababa;
}

.content a:hover
{
  color: white;
}


